/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running mixed DNA/cDNA tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test
    with both DNA and cDNA samples (multiome).

    Use as follows:
        nextflow run nf-core/scnanoseq -profile test_mixed,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test Mixed (Multiome) profile'
    config_profile_description = 'Minimal test dataset to check both DNA and cDNA pipeline function'

    // Input data
    input                = 'https://raw.githubusercontent.com/nf-core/test-datasets/scnanoseq/samplesheet/samplesheet_test_mixed.csv'

    // Genome references
    genome_fasta         = "https://raw.githubusercontent.com/nf-core/test-datasets/scnanoseq/reference/chr21.fa"
    gtf                  = "https://raw.githubusercontent.com/nf-core/test-datasets/scnanoseq/reference/chr21.gtf"

    // Barcode options
    barcode_format       = "10X_multiome"

    // Demultiplexing tool - both use flexiplex for multiome
    demux_tool_cdna      = "flexiplex"
    demux_tool_dna       = "flexiplex"

    // Analysis options
    quantifier           = "isoquant"

}
