/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running DNA tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/scnanoseq -profile test_dna,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test DNA profile'
    config_profile_description = 'Minimal test dataset to check DNA pipeline function'

    // Input data
    input                = 'https://raw.githubusercontent.com/nf-core/test-datasets/scnanoseq/samplesheet/samplesheet_test_dna.csv'

    // Genome references
    genome_fasta         = "https://raw.githubusercontent.com/nf-core/test-datasets/scnanoseq/reference/chr21.fa"
    gtf                  = "https://raw.githubusercontent.com/nf-core/test-datasets/scnanoseq/reference/chr21.gtf"

    // Barcode options
    barcode_format       = "10X_multiome"

    // Demultiplexing tool - DNA only supports flexiplex
    demux_tool_dna       = "flexiplex"

}
